{% from 'macros.html' import render_stream_info %}

<section id="history" class="no-padding history-wrapper">
    <div class="table-responsive">
    <table class="table" id="globalHistory" >
        <thead>
            <tr>
                <th align='left'><i class='glyphicon glyphicon-sort'></i> {{_('Date')}}</th>
                <th align='left'><i class='glyphicon glyphicon-sort'></i> {{_('User')}} </th>
                <th align='left'><i class='glyphicon glyphicon-sort'></i> {{_('Platform')}}</th>
                <th align='left'><i class='glyphicon glyphicon-sort'></i> {{_('Title')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort'></i> {{_('Type')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort'></i> {{_('Stream Info')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort'></i> {{_('Started')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort'></i> {{_('Paused')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort'></i> {{_('Stopped')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort'></i> {{_('Duration')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort'></i> {{_('Completed')}}</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>
</section>

