{% from 'macros.html' import render_stream_info %}

<section id="history" class="no-padding history-wrapper">
    <div class="table-responsive">
    <table class="table" id="History">
        <thead>
            <tr>
                <th align='left'><i class='glyphicon glyphicon-sort'></i> {{_('Date')}}</th>
                <th align='left'><i class='glyphicon glyphicon-sort'></i> {{_('User')}} </th>
                <th align='left'><i class='glyphicon glyphicon-sort'></i> {{_('Platform')}}</th>
                <th align='left'><i class='glyphicon glyphicon-sort'></i> {{_('Title')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort'></i> {{_('Type')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort'></i> {{_('Stream Info')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort'></i> {{_('Started')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort'></i> {{_('Paused')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort'></i> {{_('Stopped')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort'></i> {{_('Duration')}}</th>
                <th align='center'><i class='glyphicon glyphicon-sort'></i> {{_('Completed')}}</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history %}
                {% set xml = helper.load_xml(entry.xml) %}
                {{ render_stream_info(xml, entry.id) }}
                <tr>
                    <td align="left" data-order="{{ entry.time|timestamp|int }}">{% if not entry.stopped %} <span class="orange">{{ _('Currently watching...') }}</span> {% else %} {{ entry.time.strftime('%Y/%m/%d') }} {% endif %}</td>
                    <td align="left"><a href="{{ url_for('user', name=entry.user) }}" class="invert-link">{{ entry.user }}</a></td>
                    <td align="left">{{ entry.platform }}</td>
                    <td align="left"><a class="invert-link" href="{{ url_for('info', id=xml.get('ratingKey')) }}">{{ entry.title }}</a></td>
                    <td align="left">{{xml.get("type")}}</td>
                    <td align="center" class=" "><a href="#streamDetailsModal{{entry.id}}" class="orange" data-toggle="modal"><i class="glyphicon glyphicon glyphicon-info-sign"></i></a></td>
                    <td align="center">{{ entry.time.strftime('%H:%M') }}</td>
                    <td align="center" data-order="{{ (entry.paused_counter|int/60)|round|int }}">{{ (entry.paused_counter|int/60)|round|int }} min </td>
                    <td align="center">{% if entry.stopped %} {{ entry.stopped.strftime('%H:%M') }} {% else %} n/a {% endif %}</td>
                    {%- if entry.stopped %}
                    <td align="center" data-order="{{ (((entry.stopped - entry.time).total_seconds() - (entry.paused_counter|int)) /60)|round|int }}">{{ (((entry.stopped - entry.time).total_seconds() - (entry.paused_counter|int)) /60)|round|int }} min</td>
                    {% else %}
                    <td align="center" data-order="0">n/a</td>
                    {%- endif %}

                    <td align="center"><span class="badge badge-warning">{{ helper.getPercentage(xml.get("viewOffset"), xml.get("duration")) }}%</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</section>

