{% extends "layout.html" %}
{% block body %}


<table id='usersTable' class='table table-middle'>
  <thead>
    <tr>
      <th align='right'></th>
      <th align='left'>{{ _('User') }} </th>
      <th align='left'>{{ _('Last Seen') }}</th>
      <th align='left'>{{ _('Total Plays') }}</th>
    </tr>
  </thead>
<tbody>
{% for user in users %}
  {% set xml = helper.load_xml(user[1].xml) %}

<tr>
  <td width="50">
    <div class="users-poster-face">
    {% if xml.find("User").get("thumb") %}
    <img class="img-responsive" onerror=\"this.src='{{ url_for('static' , filename="images/gravatar-default-80x80.png") }}'\" src="{{ xml.find("User").get("thumb") }}" />
    {% else %}
    <img class="img-responsive" src="{{ url_for('static' , filename='images/gravatar-default-80x80.png') }}" />
    {% endif %}
  </div>
</td>
  <td><a href="{{ url_for('user', name=user[1].user) }}">{{ user[1].user }}</a></td>
  <td>{{ user[1].time|timestamp|timeago }}</td>
  <td>{{ user[0] }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
